[submodule "git/code"]
	path = git/code
	url = git@github.com:wiredmonash/react-welcome.git
[submodule "hacktoberfest-2019"]
	path = hacktoberfest-2019
	url = git@github.com:nchlswhttkr/hacktoberfest-2019.git
